doctype
html
  head
    title= title
    link(rel="stylesheet", href="main.css")
    link(rel="stylesheet", href="guestlist.css")
  body
    header
        h1 Event RSVP
    #container
        h4 Thank you for your response!
        div
            a(href='/guests' id='viewGuestList') View Guest List
        script(src='main.js')